html {
	min-width: 250px;
}

body {
	font-family: monospace;
	color: #000000;
	background: grey;
	border-radius:6px;
	font-size: 14px;
	padding: 0 0 0 3px;
}

button {
	color: #b0b0b0;
	border: 0px;
	background-color: #363636;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:18px;
	padding-left:18px;
}

#bg_opacity,#font_size,#font_family,#style_right,#style_top {
	background-color: darkgrey;
	border: 0;
	border-radius: 3px;
	color: #000000;
	font-family: 'Anonymous Pro', monospace;
	font-size: 16px;
}

.color {
	background-color: #292929;
}
