html {
	--min-page-width: 440px;
	--max-page-width: 440px;
	--min-page-height: 280px;
	--max-page-height: 300px;
	min-width: var( --min-page-width );
	max-width: var( --max-page-width );
}

body {
	font-family: monospace;
	color: #000000;
	background: lightgrey;
	border-radius:6px;
	font-size: 14px;
	padding: 0 0 0 3px;
}

/* Increase visibility of placeholder text */
::placeholder {
	opacity: 0.8;
}

button, input[class="delete_domain"] {
	color: #b0b0b0;
	border: 0px;
	background-color: #363636;
}
button {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2ex;
	padding-left: 2ex;
}

.buttons_container {
	position: relative;
	/* Some space from above fields */
	padding-top: 1em;
}
.buttons_horizon {
	position: absolute;
	left: 6rem; /* hardcoded for "save" word */
	/* The same size as above class */
	padding-top: 1em;
	top: 0%;
}

#add_domain {
	background-color: darkgrey;
	border: 0;
	margin-left: 3px;
}
input[class="delete_domain"] {
	margin-left: 3px;
}

#bg_opacity,#font_size,#font_family,#style_right,#style_top,#z_index {
	background-color: darkgrey;
	border: 0;
	border-radius: 3px;
	color: #000000;
	font-family: 'Anonymous Pro', monospace;
	font-size: 16px;
}

.color {
	background-color: #292929;
}

/* Disable arrow buttons on the right side of input field.
 * So that user could only redact text there, not to do it via mouse scroll.
 */
#z_index {
	appearance: textfield;
}

#page_general_settings {
	max-height: var( --max-page-height );
}
#page_domains_list {
	/* Hide domains page by default */
	display: none;
	max-height: var( --max-page-height );
}

#domains_container {
	overflow-y: scroll;
	border: 1px;
	min-height: var( --min-page-height );
	max-height: var( --min-page-height );
}
.domains {
	background-color: lightgrey;
	border: 1px;
	border-style: solid;
	color: #000000;
	font-family: monospace;
	font-size: 16px;
}
.domain_element {
	padding-top: 5px;
	padding-left: 2px;
}

/* Default values for opening settings page */
#page_general_settings_button {
	display: block;
}
#page_domains_list_button {
	display: none;
}

/* Move apart sticked together input fields
 * (those ones, that have only 1 br between them here)
 */
#bg_opacity {
	margin-top: 0.5em;
}
#font_size, #style_right {
	margin-bottom: 0.5em;
}

.hide_clock_switch {
	display: inline-block;
	height: 16px;
	position: relative;
	width: 70px;
	left: 1rem;
}
.hide_clock_switch input {
	display: none;
}

#hide_clock_slider {
	/* not the button */
	background-color: #464646;
	/*border-radius: 25%;*/
	border-radius: 90%;
	cursor: pointer;
	position: absolute;
	transition: all .3s ease;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
#hide_clock_slider:before {
	/* this is the button */
	background-color: #000090;
	border-radius: 50%;
	content: "";
	bottom: -2px;
	left: 24px;
	height: 20px;
	width: 20px;
	position: absolute;
	transition: all .3s ease;
}
input[id="hide_clock_checkbox"]:checked + #hide_clock_slider {
	background-color: #606060;
	left: 19px;
	right: 21px;
}
input[id="hide_clock_checkbox"]:checked + #hide_clock_slider:before {
	/* this is the button */
	left: 5px;
}

#hide_clock_text {
	white-space: nowrap;
	left: calc(70px + 16px);
	/* position: relative */
	position: absolute;
}
.hide_clock_switch #hide_clock_checkbox         + #hide_clock_slider + #hide_clock_text:after  {
	content: "Hide clock";
}
.hide_clock_switch #hide_clock_checkbox:checked + #hide_clock_slider + #hide_clock_text:after  {
	content: "Show clock";
}
